 <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card border-white">
          <div class="card-body">
            <h5 class="card-title">MISTERY, CLASSIC, LOVE</h5>
            <h3 class="card-title1">Ten more steps.</h3>
            <h6 class="card-subtitle">Reactions:4</h6>
            <p class="card-text">If he coulsd take ten more steps it would be over, but his legs wouldn't move. He tried to will them to work but they wouldn't listen to his brain. Te...</p>
            <a href="#" class="card-link">Leggi di più...</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-white">
          <div class="card-body">
            <h5 class="card-title">CRIME, AMERICAN, LOVE</h5>
            <h3 class="card-title1">The robot clicked disapprovingly.</h3>
            <h6 class="card-subtitle">Reactions:2</h6>
            <p class="card-text">The robot clicked disapprovingly, gurgled brieffly insider its cubical interior and extruded a pony glass of brownish liquid. "Sir, you will undoubtedly... </p>
            <a href="#" class="card-link">Leggi di più...</a>
          </div>
        </div>
      </div>
    </div>
  </div>