<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-white">
        <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" alt=""></a>
        <p>Via Brombeis 12</p>
        <p>80135 Napoli</p>
        <p>0187675273</p>
        <p>info@autorent.auto</p>
      </div>
      <div class="col-md-4 d-flex justify-content-between text-white">
        <p class="d-inline"> Home</p>
        <p class="d-inline">|</p>
        <p class="d-inline">Fiat</p>
        <p class="d-inline">|</p>
        <p class="d-inline">Ford</p>
        <p class="d-inline">|</p>
        <p class="d-inline">Audi</p>
      </div>
      <div class="col-md-4 text-white">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, error mollitia autem reiciendis, deleniti
          qui
          nostrum assumenda fugit illum eos cum, architecto quibusdam ea id aliquid quod at repellat dolor?</p>
      </div>
    </div>
  </div>
</div>